.account-success {
    padding: 20px;
    text-align: center;
}

.account-success .header {
    text-align: left;
}

.account-success img{
    margin-top: 50px;
}

.account-success h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
}

.account-success p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.account-success .get-started {
    width: 100%;
    background-color: #0165FC;
    margin-bottom: 30px;
}