.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 165, 165, 0.4);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal-content button{
    position: absolute;
    background-color: #0165FC;
    padding: 0px 5px;
    border-radius: 100%;
    font-size: 13px;
    top: 5%;
    right: 5%;
}
