.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F3F5F8;
    transition: transform 0.3s ease-in-out;
}

.footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.footer ul li{
    list-style-type: none;
}