.landlord-homepage {
    padding: 20px;
}

.landlord-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landlord-head .landlord-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.landlord-head h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}

.landlord-head img {
    background-color: #F3F5F8;
    padding: 10px;
    border-radius: 10px;
}

.landlord-head .landlord-info img {
    background-color: transparent;
}

.main-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 80px 0;
}

.main-actions>a:last-child:nth-child(odd) {
    margin-left: auto;
    margin-right: auto;
    width: calc(50% - 15px);
}

.main-actions a {
    width: 40%;
    padding: 0 10px;
    background-color: #F3F5F8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main-actions a img {
    width: 100px;
    height: 100px;
}

.main-actions p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #0165FC;
    margin-top: 0;
}

.main-actions .upload p {
    background-color: #1B76FF;
    color: #fff;
}
