.activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.activity-item {
    width: 45%;
    box-sizing: border-box;
    display: flex;
    background-color: #F3F5F8;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.activity-item img {
    width: 80px;
    height: 80px;
}

.activity-item p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #0165FC;
}