.premium,
.premium-listing {
    padding: 20px;
}

.premium .head {
    display: flex;
    flex-direction: column;
}

.premium .head a {
    align-self: flex-end;
}

.premium .head img {
    background-color: #F3F5F8;
    padding: 10px;
    border-radius: 10px;
}

.premium .head h1 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.78px;
    text-align: center;
    color: #0165FC;
    width: 70%;
    margin: 0 auto;
}

.premium .head p,
.premium .head span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.premium .head span {
    color: #0165FC;
}

.premium-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.premium-card {
    display: flex;
    flex-direction: column;
    background-color: #1B76FF;
    border-radius: 30px;
    position: relative;
    margin: 40px 0;
    width: 45%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.premium-card img {
    width: 100%
}

.premium-card p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    color: #fff;
    width: 20%;
    margin: 5px auto;
}

.premium .bottom {
    background-color: #F3F5F8;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 80px;
}

.premium .bottom h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    text-align: center;
    color: #0165FC;
}

.premium .bottom h4 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.premium .bottom img {
    width: 20px;
    height: 20px;
}

.premium .bottom ul {
    padding: 0;
    width: 70%;
    margin: 0 auto;
}

.premium .bottom ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.premium .bottom ul li p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}

.premium .bottom Button,
.premium-listing .list-bottom Button {
    background-color: #0165FC;
    margin: 20px 12%;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;
    width: 75%;
    padding: 10px 20px;
}

.premium-listing .head {
    display: flex;
    align-items: center;
    gap: 25%;
}

.premium-listing .head h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    color: #0165FC;
}

.premium-listing p,
.premium-listing span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.premium-listing span {
    color: #0165FC;
}

.premium-listing .list-cont img {
    width: 50px;
    height: 50px;
}

.premium-list {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.premium-list .list-cont {
    background-color: #F3F5F8;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.list-cont h5 {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #0165FC;
    margin: 5px;
}

.list-bottom .bott-cont {
    text-align: center;
    margin: 20px 0;
}

.bott-cont h4 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 30px;
}

.bott-cont p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.premium-components {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.premium-components .premium-comp:last-child {
    margin-left: auto;
    margin-right: auto;
    width: calc(50% - 15px);
}

.premium-listing .list-bottom Button {
    margin: 30px 0 80px;
    width: 100%;
}