.product {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.product .product-image img {
    width: 100%;
}

.product-content {
    padding: 20px;
}

.product-content .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-content .second{
    align-items: flex-start;
}

.product-content .first p {
    font-family: Inter;
    font-size: 11px;
    font-weight: 700;
    line-height: 13.31px;
}

.product-content .second{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -7px;
}

.product-content .second p {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;
    margin-bottom: 2px;
}

.product-content .second a {
    text-decoration: none;
    background-color: #4690FF;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}

.product-location {
    display: flex;
    gap: 10px;
    align-items: center;
}

.product-location span {
    font-family: Inter;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.68px;
    margin-top: 0;
}

.love-img {
    position: absolute;
    top: 1%;
    left: 90%;
}

.love-img img {
    width: 10px;
    height: 10px;
    background-color: #fff;
    padding: 3px;
    border-radius: 30px;
}