.product-manage {
    padding: 20px;
}

.product-manage .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-manage .head p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
}

.manage-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.manage-buttons Button {
    width: 100%;
    padding: 10px 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.0162em;
}

.manage-buttons .button1 {
    background-color: #0165FC;
}

.manage-buttons .button2 {
    background-color: transparent;
    color: #000;
    border: 1px solid #1B76FF;
    border-radius: 10px;
}

.manage-container {
    margin: 30px 0 80px;
}

.manage-card {
    display: flex;
    background-color: #F3F5F8;
    gap: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.manage-card:nth-child(even) {
    background-color: #fff;
}

.manage-card .product-image img {
    width: 120px;
    height: 100px;
}

.manage-card .tenant img {
    width: 100px;
    height: 100px;
}

.manage-card .product-content {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 70%;
    padding: 0 10px;
}

.manage-card .manage-loc {
    display: flex;
    align-items: center;
    gap: 5px;
}

.manage-card .product-content .first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    justify-content: center;
}

.manage-card .product-content .first p {
    font-family: Inter;
    font-size: 11px;
    font-weight: 700;
    line-height: 13.31px;
    margin: 2px 0;
}

.manage-card .product-content .first span {
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 10.89px;
}

.manage-card .product-content .first .manage-loc span {
    font-family: Inter;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.68px;
    margin-bottom: 2px;
}

.manage-card .product-content .second {
    align-items: flex-end;
}

.product-content .second .rented {
    background-color: #4690FF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
}

.product-content .second .vacant {
    background-color: transparent;
    border: 1px solid #0165FC;
    color: #0165FC;
}