.user-homepage {
    padding: 20px;
}

.user-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-head .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.user-head h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}

.user-head img {
    background-color: #F3F5F8;
    padding: 10px;
    border-radius: 10px;
}

.user-head .user-info img {
    background-color: transparent;
}

.user-homepage .property-type {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.user-homepage .property-type a {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.user-homepage .property-type img {
    background-color: #4690FF;
    padding: 10px;
    border-radius: 30px;
}

.recommended .rec-head,
.popular .pop-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rec-head h1,
.pop-head h1 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.47px;
}

.rec-head a,
.pop-head a {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.72px;
    color: #1B76FF;
    text-decoration: none;
}

.recommended .flex-prop,
.popular .flex-prop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-prop .property {
    display: flex;
    flex-direction: column;
    background-color: #F3F5F8;
    width: 48%;
    position: relative;
    margin-bottom: 20px;
}

.flex-prop .prop-img img {
    width: 100%;
    height: 100px;
}

.flex-prop .property .down {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.down .house {
    display: flex;
    gap: 15px;
    align-items: center;
}

.down .house p {
    font-family: Inter;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.68px;
    border: 1px solid #0165FC;
    border-radius: 5px;
    background-color: #fff;
    padding: 1px 10px;
}

.down .house span {
    font-family: Inter;
    font-size: 11px;
    font-weight: 700;
    line-height: 13.31px;
}

.down .prop-loc {
    display: flex;
    justify-content: space-between;
}

.down .prop-loc p {
    font-family: Inter;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.68px;
}

.prop-loc .lov-img img {
    width: 10px;
    height: 8.57px;
}

.down .ratings{
    position: absolute;
    top: 8%;
    left: 70%;
}

.popular{
    margin-bottom: 80px;
}